@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap%27');
body
{
    font-family: "Poppins",sans-serif;
   overflow: hidden;
    background: url(powder-mix-splash-with-dark-background.jpg);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
.scatola 
{  
    padding: 1%;
    justify-content: center;
     display: flex;
    font-size: 50px;
    border-radius: 50px;
    top: 22.5%;
    position: absolute;
    color: rgba(245, 245, 245, 0.959);
    width: 60%;
    height: 50%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  
} 
#paypal
{
    transition: all 0.15s linear;

    height: 75px;
    width: 75px;
    background-color: transparent;
    border-radius: 12.5px;
    background-image: url(paypal.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 4.25%;
    left: 1.5%;
}
#paypal:hover{
    transition: all 0.15s linear;
    transform: scale(1.25);
}
.solo
{ backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(117, 118, 124, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    height: 28px;
    width: 400px;
    border-radius: 10px;
    color: white;
}
login{
    backdrop-filter: blur(23px) saturate(300%);
    -webkit-backdrop-filter: blur(23px) saturate(300%);
    background-color: rgba(40, 40, 40, 0.62);
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
popup
{
    padding: 2.5%;
    justify-self: center;
    display: flex;
    height: 55%;
    width: 35%;
    position: absolute;
    top: 17%;
    border-radius: 20px ;
    backdrop-filter: blur(7px) saturate(125%);
    -webkit-backdrop-filter: blur(7px) saturate(125%);
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    

}
#name,#password
{
    background: rgb(2,0,36);
background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(0,154,170,0.8838560983036341) 0%, rgba(0,255,252,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    position: absolute;
    bottom: 12.5%;
    height: 10%;
    width: 40%;
   border: solid 3.25px rgba(17, 25, 40, 0.75);
   color:black;
   padding-left: 5px;
  
}
#password
{
    right: 5.15%;
}
#amg
{
    display: block;
    border-radius: 50%;
    height:150px;
    width:150px;
    background: white;
}
#dropZone{
    display: block;
    height: 200px;
    width: 200px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 32%;
    background-size: cover;
    background-position: center;
   background-repeat: no-repeat;

}
#login{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(5,6,71,0.9596987949328476) 100%, rgba(252,70,107,1) 100%);
    border-radius: 20px;
    position: absolute;
    bottom: 0.65%;
    left: 45%;
    height: 50px;
    width: 70px;
}
#credits{
    color: white;
    position: absolute;
    bottom: 100px;
    right: 100px;   
}
h2{
    font-size: 30px;
    color: white;
    position: relative;
    top: 55%;
    left: 43%;
}
#credits{
    background-image: url(copyright.png);
    background-size: cover;
    position: absolute;
    bottom: 2%;
    color: white;
    display: block;
    border-radius: 20px;
    background-color: transparent;
    height: 75px;
    width: 75px;
    position: absolute;
    bottom: 30%;
    right: 1.5%;
    top: 85%;
    padding: 3px;
    border: none;
    
    transition: all 0.15s linear;
}
#credits:hover{
    transition: all 0.15s linear;
    transform: scale(1.25);

}
creditsP{

    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4.5%;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(49, 49, 49, 0.75);
    
    }
    u {
        backdrop-filter: blur(7px) saturate(180%);
        -webkit-backdrop-filter: blur(7px) saturate(180%);
        background-color: rgba(41, 51, 73, 0.11);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
     height: 60%;
     width: 40%;
     padding: 25px;
    }
 
    #copyright{
        position: absolute;
        bottom: 4%;
        color: white;
        transition: all 0.15s linear;

    }
    #copyright:hover{
        transition: all 0.15s linear;
        transform: scale(1.25);
    }
    #closeCre{
        
        background-image: url(close.png);
        background-size: contain;
        background-position: center;
        background-color: transparent;
        width: 50px;
        height: 50px;
        border: none;
        position: absolute;
        top: 20%;
        right: 30%;
    }
    #date
    {
        color: white;
    }
    #donazionecaffe{ 
        display: block;
        height: 75px;
        width: 75px;
        background-color:transparent;
        border-radius: 12.5px;
        position: absolute;
        bottom: 4.5%;
        left: 10%;
        background-image: url(coffee-cup.png);
        background-size: contain;
        padding: 2px;
     transition: all 0.15s linear;
    } 

#donazionecaffe:hover{
    transition: all 0.15s linear;
    transform: scale(1.25);
}
   #downlond{
       display: block;
       height: 75px;
       width: 75px;
       background-color: transparent;
       background-size: contain;
       border-radius: 12.5px;
       position: absolute;
       bottom: 4.5%;
       right: 10%;
       background-image: url(ses.png);
       transition: all 0.15s linear;
    } 

#download:hover{
    transition: all 0.15s linear;
    transform: scale(1.25);
}
    

    